* {
	font-family: "Verdana", Geneva, sans-serif;
	max-width: 80%;
	margin: 0.5% auto;
	background-color: #6b2e5e;
}

p {
	padding: 3px;
}

td {
	text-align: center;
}

#awards li{
	font-family: "Times New Roman", Times, serif;
}

.quote {
	background-image: url("https://cdn.pixabay.com/photo/2016/06/06/12/33/clouds-1439324_960_720.jpg");
}

.footer {
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}

a:link {
	color: #3333ff;
}

a:visited {
	color: #4d79ff;
}

a:hover {
	color: #e580ff;
}

a:active {
	color: #ff0066;
}